In [2]:
import pandas as pd

In [ ]:
#Dicionário
Dicionario = {
    'A' : [1, 2, 3],
    'B' : [-3, -2, -1],
    'C' : [0, 10, 20]
}
Label = ['1º Linha', '2º Linha', '3º Linha']
Dataframe_01 = pd.DataFrame(Dicionario, index=Label)
print(Dataframe_01)

In [ ]:
Dataframe_01[['A', 'B']]

In [ ]:
Dataframe_01['Nova Coluna'] = Dataframe_01['A']*Dataframe_01['B']

In [ ]:
Dataframe_01

In [ ]:
Dataframe_01

In [ ]:
Dataframe_01.loc['3º Linha']

In [ ]:
Dataframe_01.loc[['1º Linha', '2º Linha'],['A', 'C']]

In [ ]:
Dataframe_01.iloc[1:2, 0:]

In [ ]:
print(Dataframe_01)
Dataframe_01 > 0

In [ ]:
Filtro = Dataframe_01['C'] > 0
Dataframe_02 = Dataframe_01[Filtro]
Dataframe_02['A']

In [ ]:
Filtro

In [ ]:
Dataframe_01[(Dataframe_01['B'] > 5) | (Dataframe_01['C'] > 2)]

In [ ]:
Dataframe_01.reset_index(inplace=True)

In [ ]:
Dataframe_01

In [ ]:
Dataframe_01.drop('index', axis=1, inplace=True)

In [ ]:
Dataframe_01

In [ ]:
Dataframe_01.drop('level_0', axis=1, inplace=True)

In [ ]:
Dataframe_01

In [3]:
disc = {
    'A' : [1,2,4],
    'B' : [-2,-23,90],
    'Z' : ['A', 'FF', 'ZS']
}
disc2 = {
    'ADS' : [112,232,43],
    'BGR' : [-2321,-223,9210],
    'LOOP' : ['AASD', 'FF', 'ZFFS']
}

label01 = ['1', '2', '3']
dt = pd.DataFrame(disc, index=label01)
dt2 = pd.DataFrame(disc2, index=label01)

In [5]:
dt.join(dt2)

   A   B   Z  ADS   BGR  LOOP
1  1  -2   A  112 -2321  AASD
2  2 -23  FF  232  -223    FF
3  4  90  ZS   43  9210  ZFFS